{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Siqify Analytics!</h1><!--Add tagline and logo-->

    <div class="Services">
        <h2>Training Services</h2>
        <p>Siqify Analytics offers a range of services to drive learning and development in your organization. Each course is taught by a trained and credentialed instructor with experience in classroom and virtual environments. Course materials are built in-house by instructional designers well-versed in the subject matter and organizational pain points.</p>

        <p>Siqify offers the following courses:</p>
        
    </div>

    <div class="Accomplishments">
        <ul>
            <li>Built custom mapping course for Canadian client, enabling custom builds in Tableau Desktop</li>
            <li>DoD Client Tableau training</li>
            <li>Power Automate training in process mapping w/ Power Query</li>
            <p>Advanced Excel</p>

        </ul>
    </div>

    <div class="Company/Instructor Profile">
        <p>Founded in 2021, Siqify Analytics began with a focus on technical enablement through training.</p>

        <p>Siqify's lead instructor and founder is Eric M. Pastore.</p>
        <p>After beginning his training career in 2013 in the railway signaling domain, he eventually began teaching Tableau Desktop in 2017. Click here for his complete CV.</p>
    </div>

    <div class="Course/Syllabus">
        <p>In order to choose the best course for your needs, browse the syllabus for each course below.</p>
        <ul>
            <li>Data Foundations<!--Add link-->
                <ul>
                    <li>An introduction to the business case and technical details of data. Learners will understand data at a high-level and be ready to learn new data platforms.</li>
                </ul>
            </li>
            <li>Tableau Desktop I: Fundamentals</li>
            <li>Power BI Fundamentals</li>
            <li>SQL Fundamentals</li>
            <li>Python for Analysts</li>
            <li>R Fundamentals</li>
        </ul>
    </div>

    <div class="contact">
        <p>Use the form below to start your transformation journey with Siqify Analytics.</p>

    </div>

{% endblock %}