{% extends "base.html" %}

{% block content %}
    <h1>Welcome to Siqify Analytics!</h1><!--Add tagline and logo-->

    <div class="Services">
        <h2>Training Services</h2>
        <p>Siqify Analytics offers a range of services to drive learning and development in your organization. Each course is taught by a trained and credentialed instructor with experience in classroom and virtual environments. Course materials are built in-house by instructional designers well-versed in the subject matter and organization pain points.</p>

        <p>Siqify offers the following courses:</p>
        <ul>
            <li>Data Foundations</li>
            <li>Tableau Desktop I: Fundamentals</li>
            <li>Power BI Fundamentals</li>
            <li>SQL Fundamentals</li>
            <li>Python for Analysts</li>
            <li>R Fundamentals</li>
        </ul>
    </div>

    <div class="Accomplishments">

    </div>

    <div class="Company/Instructor Profile">

    </div>

    <div class="Course/Syllabus">

    </div>

{% endblock %}